@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  padding-top: 50px;
}

#title-main {
  color: #1c5563;
  font-weight: bold;
  font-size: xx-large;
}

a{
  text-decoration: none;
}

.row-elem {
  position: relative;
  width: 100%;
  height: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #000000;
}

.row-elem img {
  filter: brightness(70%);
}

.row-elem:hover img {
  filter: brightness(50%);
}

.row-elem:hover .thumbnail-text {
  color: #f4ad42;
}

/*Navigation bar style*/
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.cvButton {
  width: 100%;
  height: 50px;
  background-color: #1c5563;
  text-align: center;
}
.cvButtonText {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(-50%);
  z-index: 2;
}

#contact-link a{
  color: #1c5563;
  text-decoration: none;
}

#contact-link a:hover{
  color: #f4ad42;
}


.row-elem .thumbnail-text {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
}

.row-elem img {
  width: 100%;
  height: 100%;
}

#descText {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

/*--------------------- Project page ---------------------------------*/

div.polaroid {
  width: 100%;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

  margin-bottom: 10px;
  margin-top: 10px;
}

div.textBox {
  /*padding: 10px;*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  text-decoration: none;
}

img.imgBoxShadow {
  width: 100%;
  height: 250px;
}

iframe.vFraming {
  width: 100%;
  height: 500px;
  margin-top: 20px;
}

.projDescription {
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family:"Poppins", sans-serif;
  color: #000000;
}

div.imageTextBottom {
  width: 100%;
  text-align: center;
  margin-bottom: 50 px;
}

.captionVideoSide {
  margin-top: 10px;
}

.methodology-elem{
margin-top: 30px;
margin-bottom: 30px;
}

img.spikesImage {
  width: 150px;
  height: 200px;
  margin-bottom: 20px;
}

/*----------------- ICA sound ---------------------*/
#mixHillaryTrump0 {
  position: absolute;
  margin-left: 250px;
  margin-top: -30px;
}

#mixHillaryTrump1 {
  position: absolute;
  margin-left: 250px;
  margin-top: -370px;
}

#hillaryVoice {
  position: absolute;
  margin-left: 825px;
  margin-top: -370px;
}
#trumpVoice {
  position: absolute;
  margin-left: 825px;
  margin-top: -30px;
}

/*--------------- PHOTOGRAPHY ---------------------------*/

#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap: 5px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin-bottom: 5px;
}

/*-------------- VIDEO ---------------------*/

iframe.videoStyle {
  width: 100%;
  height: 250px;
}

.playlist-video-title{
  text-align: center;
  background-color: rgb(248, 244, 244);
  background-clip: content-box;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

/*  ------------------------ Navigation bar ----------------------- */

.navbar-nav .nav-link.active{
  color: #f4ad42;
  font-weight: bold;
}

.nav-link:hover{
  color: #f4ad42;
}

.nav-link{
  color: #1c5563;
}

/* ----------------------- Tag -------------------------------------- */
/* Style the list to align tags horizontally */
.tool-tag-list {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  display: flex; /* Align tags horizontally */
  flex-wrap: wrap; /* Allow wrapping to the next line if there are too many tags */
  gap: 10px; /* Optional: add space between tags */
}

/* Style individual tags */
.tool-tag {
  background-color: #1c5563;; /* Background color for the tag */
  color: white; /* Text color */
  padding: 5px 10px; /* Padding inside the tag */
  border-radius: 15px; /* Rounded corners */
  font-size: 14px; /* Font size */
  display: inline-block; /* Ensure the tag takes only as much space as needed */
  white-space: nowrap; /* Prevent text from wrapping inside the tag */
  opacity: 0.7;
}

/* ------------------------- Buttons ------------------------------------- */
.buttons-container{
  margin-top: 10px;
}

.buttons-container .button{
  display: inline-block; /* Make the link behave like a button */
  padding: 5px 10px; /* Add padding inside the link */
  border-radius: 5px; /* Rounded corners */
  background-color: #1c5563; /* Link background color */
  color: white; /* Link text color */
  text-decoration: none; /* Remove the default underline */
  /*font-size: 10px; /* Font size */
  text-align: center; /* Center text within the link */
  text-transform: uppercase;
  /*cursor: pointer; /* Change cursor to pointer on hover */
  /*transition: background-color 0.3s ease; /* Smooth hover effect */
}

figcaption{
  text-align: center;
}